* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #08111C;
  overflow-y: auto; 
}

body::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers */
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #08111C;
  overflow-y: auto; /* Allow scrolling within .app */
}

.app::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers */
}

@media (max-width: 1024px) {
  .app {
    height: 100vh; /* Fixed height for mobile devices */
    overflow-y: auto; /* Ensure .app can scroll on mobile devices */
  }
}
